    paths:
        - assets/
        - commands/
        - controllers/
        - mail
        - models

    level: 9

    ignoreErrors:
        - '#PHPDoc tag @var#'
        - '#PHPDoc tag @param#'

    excludePaths:

